# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
*.iml
out
*.txt
*.csv
/lib
/target

# User-specific stuff:
log4j-application.log*
# Gradle:
# IntelliJ
